<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head.ejs'); %>
</head>


    <%- include('../../partials/header.ejs'); %>

<body>
<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Products</h1>
            </div>
        </div>
    </section>


    <div class="container categories">

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="d-flex justify-content-center categories-title">

            </div>

            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="/images/indexImg/chcolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Producto</h2>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div><!-- /.container -->

</main>

<%- include('../../partials/footer.ejs') %>

</body>
</html>