body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.categories-title {
    padding: 3rem 0 3rem 0;
}

.car {
    padding: 3rem 0 3rem 0;
}

.mb-4 {
    margin-bottom: 0 !important;
}

#footer {
    margin-top: 3rem;
}

/* CATEGORIES CONTENT
-------------------------------------------------- */


.categories .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.categories h2 {
    font-weight: 400;
}
/* rtl:begin:ignore */
.categories .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */

.car-buttons {
    padding-right: 8rem;
    margin-top: 2rem;
}

.car-total {
    margin-top: 2rem;
}

.carousel-item {
    background: black;
    overflow: hidden;
}

.img-slide1 {
    background: url(../images/indexImg/erwan-hesry-OlQ-NaEyVmQ-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
}

.img-slide2 {
    background: url(../images/indexImg/wesual-click-zgl4LvTL06c-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
}

.img-slide3 {
    background: url(../images/indexImg/michelle-tsang-VTt_Jn1LrOg-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: 0.3;
}

.img-hero {
    background: url(../images/heroes/pexels-eva-elijas-6104222.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}