body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#logo {
    padding-right: 3rem;
}

.categories-title {
    padding: 3rem 0 3rem 0;
}

.car {
    padding: 3rem 0 3rem 0;
}

.mb-4 {
    margin-bottom: 0 !important;
}

#footer {
    margin-top: 3rem;
}

/* CATEGORIES CONTENT
-------------------------------------------------- */


.categories .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.categories h2 {
    font-weight: 400;
}

.categories a {
    text-decoration: none !important;
}

.categories a h5 {
    font-weight: 600;
    color: #212529;
}

/* rtl:begin:ignore */
.categories .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */

.car-buttons {
    padding-right: 8rem;
    margin-top: 2rem;
}

.car-total {
    margin-top: 2rem;
}

.carousel-item {
    background: black;
    overflow: hidden;
}


.img-hero {
    background: url(../images/heroes/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}

#back-to-top {
    text-decoration: none !important;
    color: white !important;
}


#registerLink p a {
    text-decoration: none;
    color: #212529;
}

/* MOBILE ADJ
-------------------------------------------------- */

@media (max-width: 769px){
    #footer{display: none;}
    #cartCard{display: none;},
}

@media (max-width: 769px) {
    .categories-title {
        padding: 0px;
        margin-top: 8px;
    }
}

@media (max-width: 769px){
    .row {padding-right: 0px;}
    .carousel-caption h1 {
        font-size: x-large !important;
    }
    
}

@media (max-width: 321px){
    .carousel-caption h1 {
        font-size: large !important;
    }
    
}
