<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>


    <%- include('../partials/header.ejs'); %>

<body>

<main>
    <link href="/css/carrusel.css" rel="stylesheet">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" 
                width="100%"
                height="auto"
                src="/images/indexImg/slider1.jpeg" 
                alt="Helados en mostrador" />

            
             <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Probá los mejores sabores de helado.</h1>
                        <h4>¿Todavía no te decidiste? Llévate un kilo y disfruta de hasta 7 gustos diferentes.</h4>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <img class="bd-placeholder-img" 
                width="100%"
                height="auto"
                src="/images/indexImg/slider2.jpeg" 
                alt="Helados en mostrador" />
              
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption" style="color: black;" >
                            <div class="d-flex justify-content-left">
                                <h1>Se nos fue el verano!<br> Pero no los sabores frutales</h1>
                            </div>
                            <div class="d-flex justify-content-left">
                                <h4>Elegí los gustos más livianos y al agua.</h4>
                            </div>
                            <div class="d-flex justify-content-left">
                                <h4>Nuestros favoritos: maracuyá + naranja.</h4>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>


            <div class="carousel-item">
                <img class="bd-placeholder-img" 
                    width="100%"
                    height="auto"
                    src="/images/indexImg/slider3.jpeg" 
                    alt="Helados en mostrador" />

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Crema de pistacho: para paladares exigentes</h1>
                        <h4>Presentamos un nuevo sabor para combinar. Sabor intenso y una textura sedosa increíble.</h4>
                    </div>
                </div>
            </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Nueva línea de helados veganos</h1>
                    <p class="lead my-3"> Estamos felices de sumar una línea completa de helados para aquellos que llevan una alimentación a base de planta. <br>  ¡Llevate 1/4kg, 1/2kg o 1kg de nuestro Chocolate Vegano! </p>
                    
                </div>
                <div class="col-md-4">
                    <img src="/images/indexImg/product-sizes.jpg" alt="Product Sizes" class="img-fluid mx-auto">    
                </div>
            </div>
        </div>
    </section>


    <div class="container categories">

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="d-flex justify-content-center categories-title">
                <h2>Sabores</h2>
            </div>

            <div class="col-lg-4">
                <img src="images/indexImg/chocolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Chocolates</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/dulces-de-leche.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Dulce de Leche</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/cremas.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Cremas</h2>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <img src="images/indexImg/frutales.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Frutales</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/veganos.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Veganos</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/especiales.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Especiales</h2>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</main>

<%- include('../partials/footer.ejs') %>

</body>
</html>