<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>


    <%- include('../partials/header.ejs'); %>

<body>

<main>
    <link href="/css/carrusel.css" rel="stylesheet">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" 
                width="100%"
                height="auto"
                src="/images/indexImg/slider1.jpeg" 
                alt="Helados en mostrador" />

            
             <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" 
                width="100%"
                height="auto"
                src="/images/indexImg/slider2.jpeg" 
                alt="Helados en mostrador" />
              
             <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" 
                    width="100%"
                    height="auto"
                    src="/images/indexImg/slider3.jpeg" 
                    alt="Helados en mostrador" />

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Title of a longer featured blog post</h1>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    
                </div>
                <div class="col-md-4">
                    <img src="/images/indexImg/product-sizes.jpg" alt="Product Sizes" class="img-fluid mx-auto">    
                </div>
            </div>
        </div>
    </section>


    <div class="container categories">

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="d-flex justify-content-center categories-title">
                <h2>Sabores</h2>
            </div>

            <div class="col-lg-4">
                <img src="images/indexImg/chocolates.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Chocolates</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/dulces-de-leche.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Dulce de Leche</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/cremas.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Cremas</h2>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <img src="images/indexImg/frutales.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Frutales</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/veganos.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Veganos</h2>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <img src="images/indexImg/especiales.jpg" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Especiales</h2>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</main>

<%- include('../partials/footer.ejs') %>

</body>
</html>