
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Larica Heladería</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/carrusel.css" rel="stylesheet">
</head>
<body>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Productos</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Cómo Comprar</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Nosotros</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Contacto</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Acceso</button>
                <button type="button" class="btn btn-outline-light me-2">Registrate</button>
                <button type="button" class="btn btn-warning">Comprar</button>
            </div>
        </div>
    </div>
</header>

<main>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
        <div class="container">
            <div class="col-md-10 px-0">
                <h1 class="display-6 fst-italic">Carrito de Compra</h1>
            </div>
        </div>
    </section>


    <div class="container car">

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Acciones</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <th scope="row">1</th>
                <td>1Kg</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <th scope="row">1</th>
                <td>1Kg</td>
                <td>$100</td>        
           </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
                <th scope="row">1</th>
                <td>1Kg</td>
                <td>$100</td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex flex-row-reverse car-total">
            <div class="col-md-6 px-0 d-flex justify-content-end">
            <table class="table">
            <tbody>
            <tr>
                <th scope="row">Sub-Total</th>
                <td>$300</td>
            </tr>
            <tr>
                <th scope="row">IVA</th>
                <td>$30</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>$330</td>
            </tr>
            </tbody>
            </table>
            </div>
         </div>

         <div class="d-flex justify-content-end car-buttons">
            <button type="reset" class="btn btn-outline-dark me-2">Cancelar</button>
            <button type="submit" class="btn btn-primary">Comprar</button>
         </div>
    

    </div><!-- /.container -->
   

    
</main>

<!-- FOOTER -->
<footer id="footer" class="p-4 p-md-5 mb-4 text-white bg-dark">
    <div class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2021 Company, Inc.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
