<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <%- include('../../partials/header'); %>
    <main>

        <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
            <div class="container">
                <div class="col-md-10 px-0">
                    <h1 class="display-6 fst-italic">Nosotros</h1>
                </div>
            </div>
        </section>


          <div class="container marketing">
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h3 class="featurette-heading">
                  Larisa es una heladería artesanal que nació como emprendimiento en medio de una <br> <br> Desde hace una década, garantizamos un producto de calidad, novedoso, cuidado y adaptado a las necesidades de nuestros <br> <br> Empezamos con una lista acotada de gustos que fue creciendo con el pasar del tiempo. <br> La creación de nuevos sabores y la textura inigualable de nuestros helados nos convirtieron en la heladería preferida del Bajo Belgrano.
                </h3>
                <p class="lead"></p>
              </div>
              <div class="col-md-5 img-fluid">
                <img src="/images/us.jpg" alt="Nosotros" width="100%" height="auto">
                 
              </div>
            </div>

            <hr class="featurette-divider">
          
          </div><!-- /.container -->

    </main>

    <%- include('../../partials/footer'); %>
</body>
</html>