<!doctype html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>

<body>
    <%- include('../../partials/header'); %>
    <main>

        <section class="p-4 p-md-5 mb-4 text-white bg-dark img-hero">
            <div class="container">
                <div class="col-md-10 px-0">
                    <h1 class="display-6 fst-italic">Nosotros</h1>
                </div>
            </div>
        </section>


          <div class="container marketing">
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h3 class="featurette-heading">
                  Larisa es una heladería artesanal que nació como emprendimiento en medio de una <br> <br> Desde hace una década, garantizamos un producto de calidad, novedoso, cuidado y adaptado a las necesidades de nuestros <br> <br> Empezamos con una lista acotada de gustos que fue creciendo con el pasar del tiempo. <br> La creación de nuevos sabores y la textura inigualable de nuestros helados nos convirtieron en la heladería preferida del Bajo Belgrano.
                </h3>
                <p class="lead"></p>
              </div>
              <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        
              </div>
            </div>

            <hr class="featurette-divider">
          
          </div><!-- /.container -->

    </main>

    <%- include('../../partials/footer'); %>
</body>
</html>