<header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <h1>LARICA</h1>
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Inicio</a></li>
                    <li><a href="/products" class="nav-link px-2 text-white">Productos</a></li>
                    <li><a href="/store" class="nav-link px-2 text-white">Tienda</a></li>
                    <li><a href="/us" class="nav-link px-2 text-white">Nosotros</a></li>
                    <li><a href="/contact-us" class="nav-link px-2 text-white">Contacto</a></li>
                </ul>
    
                <div class="text-end">
                    <a href="/login" type="button" class="btn btn-outline-light me-2">Acceso</a>
                    <a href="/register" type="button" class="btn btn-outline-light me-2">Registrate</a>
                    <a href="/products/cart" type="button" class="btn btn-warning"><i class="bi bi-cart4"></i></a>
                </div>
            </div>
        </div>
</header>
    